@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Ysabeau+SC:wght@1..1000&display=swap");

@import "tailwindcss";

@theme {
	--font-inf: "Cormorant Infant";
	--font-ysa: "Ysabeau SC";

	--color-primary: #3b1e54;
	--color-secondary: #d4bee4;
	--color-tertiary: #eeeeee;
	--color-accent: #f3c623;

	--ease-custom: cubic-bezier(0.75, 0.25, 0.25, 0.75);
}

:root {
	--primary: #3b1e54;
	--secondary: #d4bee4;
	--tertiary: #eeeeee;
	--accent: #f3c623;
}

html,
body {
	font-family: "Ysabeau SC", sans-serif;
}
